.DS_Store
**/.DS_Store
Cargo.lock
*.hkdb

/campus/node_modules

/rusty-hexagrar/target
/rusty-hexagrar/run
/rusty-hexagrar/step_files
rusty-hexagrar/build
rusty-hexagrar/*.togredb

/wasm/target
/wasm/tests
rusty-hexagrar/step_files BAK während 1. symmeth/result.togredb
