body {
    background-color: #fdf7e5;
    padding: 20px;
}

#brett {
    width: 600px;
    height: 600px;
    margin: auto;
    border: 3px solid #222;
}

.feld {
    border: 1px solid black;
    box-sizing: border-box;
    width: 16%;
    height: 16%;
    float: left;
    background-color: #fffff5;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
    font-size: 10px;
}
.indexer {
    float: left;
    text-align: center;
    border: solid black 1px;
    box-sizing: border-box;
    background-color: #8a2626cc;
    
}
.indexer_X {
    height: 4%;
    width: 16%;
}
.indexer_Y {
    height: 16%;
    width: 4%;
}
#i_pseudo {
    height: 4%;
    width: 4%;
    background: none;
}

.feld_b {
    background-color: #bbbba5;
}

.feld_o {
    background-image: url("./Resources/o.png");
}
.feld_x {
    background-image: url("./Resources/x.png");
}
.feld_s {
    border-color: #4040f1cc;
    border-width: 4px;
}