* {
    box-sizing: border-box;
}
#brett__ {
    margin: auto;
    border: 2px solid #4caf50;
}
#brett__.turn, #brett__.turn .feld {
    transform: rotate(0.5turn);
}
#brett__.disabled {
    filter: contrast(80%);
    cursor: not-allowed;
    border-color: grey;
}
.feld {
    float: left;
    width: calc(100% / 6);
    height: calc(100% / 6);

    border: 2px solid #777;
    background-color: #fffff5;
    /* background-color: black; */

    font-size: 13pt;
    color: black;
}
.feldDark {
    background-color: #bbbba5;
}
.feldSelected {
    border-style: dashed;
}
.feldX, .feldO {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.feldX {
    background-image: url("../../img/x.png");
}
.feldO {
    background-image: url("../../img/o.png");
}
.feldAmZug {
    border-color: #4040f1;
}
.vorschlag {
    background-color: #ff9;
}